<h1>Welcome to View</h1>
{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <p>{{request.user}}</p>
{%endif%}
<a href="{% url 'create-view' %}">Add More List</a>
<form method = 'get'>
    <input type='text' name='search-area' value={{search_input}}> 
    <input type='submit' value='search'>
</form>
<table>
    <tr>
        <th>Item</th>
    </tr>
    {% for item in tasks %}
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.id}}</td>
        <td><a href="{% url 'task' item.id %}">View</a></td>
        <td><a href="{% url 'update-view' item.id %}">Update</a></td>
        <td><a href="{% url 'delete-view' item.id %}">Delete</a></td>
    </tr>
        {%empty%}
        <h3>Empty List</h3>
    {% endfor %}
</table>
